body {
    font-family: 'open sans', sans-serif;
    background-color: #d1e1e4;
    /* hellblau */
    color: #333333;
    /* dunkelgrau */
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    border: 3px solid #333333;
    /* dunkelgrau */
    padding: 10px;
    text-align: center;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    /* zentriert im übergeordneten Container */
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    background-color: #666;
    color: black;
    width: 80%;
    margin: 0 auto;
    /* zentriert im übergeordneten Container */
    border-radius: 20px;
    font-size: 18px;
    min-height: 30px;
    padding-top: 5px;
}

p-button {
    margin: 5px;
}

footer {
    position: fixed;
    /* Always stays in place */
    bottom: 0;
    /* Stick to the bottom */
    left: 0;
    width: 100%;
    /* Full width */
    height: 80px;
    /* Fixed height */

    /* Example color */
    color: #333333;
    /* Text color */
    display: flex;
    /* Center content */
    align-items: center;
    justify-content: center;
    min-width: 100%;
}

.centered {
    position: absolute;
    /* Position absolutely within footer */
    left: 50%;
    /* Center horizontally */
    transform: translateX(-50%);
    /* Offset by half width */
    margin: 0;
    /* Remove default margin */
}

.left {
    margin-right: auto;
    margin-left: 10px;
    text-align: left;
}

.right {
    margin-left: auto;
    margin-right: 10px;
    text-align: right;
}

.circle {
    padding: 5px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.circle:hover {
    background: #f0f0f0;
}

.grid_3_2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.element_grid{
        display: flex;         /* makes child divs align horizontally */
    align-items: center;   /* vertically centers them if they have different heights */
    gap: 5px;              /* optional: adds space between the divs */
    margin:5px
}

.numeric_out{
    background-color: #1d819b;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    min-width: 100px;
    font-family: 'open sans', sans-serif;
    font-size: 20px;
    border: none;
}


#connector-top-line {
  position: fixed;
  top: 3px;
  left: 50%;
  height: 4px;
  width: 0;
  background-color: darkgreen;
  transform: translateX(-50%);
  animation: expand-line 10s ease-in-out infinite alternate;
}

/* Keyframes for expanding and shrinking from the center */
@keyframes expand-line {
  0% {
    width: 33%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}