/* Dropdown fest oben rechts -100px positionieren */
  #language-selector {
    position: fixed;
    top: 10px;
    right: 110px;
    padding: 5px 10px;
    font-size: 14px;
    z-index: 1000; /* sicherstellen, dass es oben bleibt */
  }

    /* Button fest oben rechts */
  #lang-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }

  #lang-button:hover {
    background: #f0f0f0;
  }

  #lang-button svg {
    width: 24px;
    height: 24px;
  }

img.icon {
    width: 24px;
    height: 24px;
}

  /* Overlay-Dialog mit Fade-Effekt */
  #lang-dialog {
    position: fixed;
    top: 50px;
    right: 50px;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out; /* Fade-In/Fade-Out */
  }

  #lang-dialog img {
    width: 60px;
    height: 60px;
  }