    [page] {
      display: none;
    }

    [page].active {
      display: block;
    }

    /* Button fest links rechts */
    #logout-button {
      position: fixed;
      top: 10px;
      left: 10px;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #logout-button:hover {
      background: #f0f0f0;
    }